$mobile-width: 800px

*
  box-sizing: border-box

html
  font-size: 18px

  @media (max-width: $mobile-width)
    font-size: 14px

  @media print
    font-size: 12pt

body
  font: 1rem/1.6em Helvetica, Arial, sans-serif
  color: #939393
  text-align: center
  @media screen
    background-image: radial-gradient(circle, #ffd79b 0%, #ff922e 100%)
    // background-image: radial-gradient(circle, #ffb6c5 0%, #9bacff 100%)
    // animation: background 16s linear 0ms infinite both

h1
  color: #565656
  font-size: 2.8rem
  line-height: 1.2em
  letter-spacing: 0.15em
  text-transform: uppercase
  @media (max-width: $mobile-width)
    font-size: 2rem

h2
  text-transform: uppercase
  position: relative
  color: #000
  margin: 2em 0 1em
  font-size: 1.6em
  @media (max-width: $mobile-width)
    margin: 2em 0 1em
  &:before,
  &:after
    content: ''
    top: 50%
    position: absolute
    border: 1px solid #d4d2d1
    z-index: -1
    @media (max-width: $mobile-width)
      content: none
  &:after
    left: 0
    right: 60%
    right: calc(50% + 200px)
  &:before
    right: 0
    left: 60%
    left: calc(50% + 200px)

h3
  color: #565656
  margin: 2em 0 1em
  text-transform: uppercase
  a
    color: inherit
    font-size: inherit
    font-weight: inherit

p, ul, h3, h4
  text-align: left
p
  margin: 1rem 0
ul
  padding: 0
li
  display: inline-block
  vertical-align: top

a
  color: #565656
  font-weight: bold

  &:hover
    opacity: .6

  @media print
    text-decoration: none

section
  background-color: #fff
  margin: 0 auto
  max-width: 60rem
  page-break-before: always
  width: 80%

  @media screen
    box-shadow: 0 .9rem 2rem -.5rem #0004
    margin-bottom: 5rem
    margin-top: 5rem
    padding: 6rem 6%

  @media (max-width: $mobile-width)
    margin-bottom: 2rem
    margin-top: 2rem
    padding: 2rem
    width: calc(100% - 1rem)

  @media print
    padding: 0
    margin: 0
    width: 100%

.slider
  overflow: hidden
  padding-bottom: 1rem
  text-align: center
  width: 18rem
  img
    border: 3px solid #d4d2d1
    width: 18rem
  input
    position: relative
    top: 10.8rem
    width: 1.2rem
    z-index: 1
    &:before,
    &:after
      border-radius: 50%
      box-sizing: border-box
      cursor: pointer
      display: block
    &:before
      background: #eee
      border: 1px solid #ccc
      // box-shadow: inset 0 0 10px rgba(0,200,200,0.2)
      content: ''
      height: 1.2rem
      width: 1.2rem
      margin-top: -.2rem
    &:after
      content: ''
      margin-left: .3rem
      margin-top: -.9rem
      height: .6rem
      width: .6rem
      background: #fff
      box-shadow: 0 0 10px rgba(0,0,0,0.2)
    &:checked:after
      background: #ff922e
      content: ''
      margin-left: .3rem
      margin-top: -.9rem
      height: .6rem
      width: .6rem
  &__wrapper
    display: flex
    transition: transform 300ms ease-out
  @for $i from 0 through 7
    *:checked:nth-child(#{$i + 1}) ~ &__wrapper
      transform: translate(#{$i * -100%}, -1.2rem)


//----------------------------------
// INTRODUCTION
//----------------------------------
.introduction
  text-align: center

  @media (max-width: $mobile-width)
    text-align: left

  &__image, img
    background: inline("avatar-300px.jpg") 50% / cover
    margin-bottom: 1rem
    display: inline-block
    border: 3px solid #d4d2d1
    border-radius: 50%
    height: 14rem
    width: 14rem

    @media (max-width: $mobile-width)
      height: 15.6rem
      width: 15.6rem

    @media print
      display: none

  &__headers
    h1
      margin-bottom: 0
    h4
      font-weight: normal
      margin: .1em 0 3em
      text-align: center
      text-transform: uppercase

  li
    color: #6b6b6b
    margin: 0 0.3em
    @media (max-width: $mobile-width)
      display: block
      margin-bottom: 0.6em
    &:first-child
      display: block
  strong
    text-transform: uppercase
  a
    color: inherit
//----------------------------------
// END INTRODUCTION
//----------------------------------

//----------------------------------
// SKILLS
//----------------------------------
.skills
  text-align: left
  li
    color: #565656
    text-transform: uppercase
    margin-right: 0.5em
    font-weight: bold
    &:after
      content: ';'

//----------------------------------
// END SKILLS
//----------------------------------

//----------------------------------
// EXPERIENCE
//----------------------------------
.experience
  li
    width: 49%
    box-sizing: border-box
    @media (min-width: $mobile-width)
      &:nth-child(odd)
        padding-right: 0.6em
      &:nth-child(even)
        padding-left: 0.6em
    @media (max-width: $mobile-width)
      width: 100%

//----------------------------------
// END EXPERIENCE
//----------------------------------

//----------------------------------
// PROJECTS
//----------------------------------
$linkContent: " [ " attr(href) " ] "

.project
  display: flex
  margin-top: 3rem

  &__slider
    padding-right: 2rem
    @media print
      display: none

  &__info
    h3
      margin-top: 0

  @media print
    a
      text-decoration: none
      &:link:after, &:visited:after
        color: #000
        text-transform: lowercase
        content: $linkContent
        font-size: 0.8em

//----------------------------------
// END PROJECTS
//----------------------------------

//----------------------------------
// SOCIALS
//----------------------------------
.socials
  text-align: center
  margin-top: 4rem
  @media print
    text-align: left

  li
    margin: 0 1rem 1rem
    img, svg
      width: 2rem
    @media print
      display: block

  @media print
    a
      text-decoration: none
      &:link:after, &:visited:after
        color: #000
        text-transform: lowercase
        content: $linkContent
        font-size: 0.8em
        padding-left: .8em
        top: -0.6em
        position: relative

//----------------------------------
// END SOCIALS
//----------------------------------

@keyframes background
  0%
    background-position: 0 0;

  50%
    background-position: 1000px 1000px;

  100%
    background-position: 0 0;

