doctype html
html(lang='en')
	head
		title Alexey Pogorelov

		//- meta
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

		//- generate image here http://realfavicongenerator.net/
		link(rel="apple-touch-icon", sizes="180x180", href="img/icons/favicons/apple-touch-icon.png")
		link(rel="icon", type="image/png", href="img/icons/favicons/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="img/icons/favicons/favicon-16x16.png", sizes="16x16")
		link(rel="manifest", href="img/icons/favicons/manifest.json")
		link(rel="mask-icon", href="img/icons/favicons/safari-pinned-tab.svg", color="#5bbad5")
		meta(name="theme-color", content="#ffffff")

		//- meta(name="theme-color" content="#ffffff")

		//- open graph
		//- meta(property="og:type" content="website")
		//- meta(property="og:title" content="---")
		//- meta(property="og:description" content="---")
		//- meta(property="og:image" content="---")
		//- meta(property="og:url" content="---")
		//- meta(name="twitter:image" content="---")
		//- meta(name="twitter:title" content="---")
		//- meta(name="twitter:url" content="---")
		//- meta(name="twitter:card" content="summary")
		//- meta(name="twitter:description" content="---")

		link(rel='stylesheet', href='css/main.css')

	body
		section.introduction
			img(src="img/avatar-250px.jpg", alt="Alexey Pogorelov")
			h1 Alexey Pogorelov
			ul
				li
					strong Location: 
					span Ukraine, Cherkassy
				li
					strong E-MAIL: 
					a(href="mailto:alexey.intertech@gmail.com") alexey.intertech@gmail.com
				li
					strong Phone: 
					a(href="callto:+380638561317") +38 (063) 8561317
				li
					strong Skype: 
					a(href="skype:alexey.pogorelov.music") alexey.pogorelov.music

		section.overview
			h2 Overview
			p I'm a professional JavaScript, Front-end (HTML5, CSS3) developer with 2+ years of experience. I have great skills in technologies related to JavaScript like AngularJS 1/2, NodeJS, jQuery.
			p I am constantly improving, analysing and presenting findings and recommendations on SEO, website performance and user behaviour. In addition, I make sure that design and usability are of the highest quality. I also have experience with single-page web applications and have wide set of skills with REST API's applications, performance profiling, and web app performance optimisation at scale.
			p If you are looking for web developer with design skills then I am the man.
		section.skills
			h2 Skills
			ul
				li HTML5
				li CSS3
				li Javascript
				li jQuery
				li Angular 2
				li TypeScript
				li PHP
				li Canvas
				li User Experience & Design
				li Git
				li SVN
				li Sass/Less
				li Pug(Jade) Language

		section.education
			h2 Education
			h3 Master of Computer Applications (M.C.A.), Programming | Cherkasy National University named after Bogdan Khmelnitsky
			p Master of Computer Applications (M.C.A.), Programming | Cherkasy National University named after Bogdan Khmelnitsky
			p 2007 – 2012

		section.experience
			h2 Experience
			ul
				li
					h3 Front End
					p Freelance
					p January 2011 - May 2015 (4 years 5 months)
				li
					h3 Front End Technical Lead
					p Front End Technical Lead Intertech
					p June 2015 - Present (1 year 6 months) Ukraine

		section.projects
			h2 Projects
			ul
				li
					h3 Application for Intertech sales department
					p Node JS, jQuery, WebSocket, HTML5 Web Workers, Expresso JS, MailChimp
					p This project involved both front end and back end development. Back end part was responsible for logging and data storage. Front end part was written with jQuery and MVC patterns. For offline application usage HTML5 LocalStorage API was used. Front end and back end communication is based on REST.

				li
					h3 API based aplication
					p Node JS, jQuery
					p This application is part of air tickets service. It was made for parsing XML data and convert it to JSON. The program can backup and restore request results with admin panel. The front end side gets JSON and build it for WEB UI.

		section.socials
			h2 socials
			ul
				li
					a(href="https://ua.linkedin.com/in/pogorelovalexey")
						img(src="img/icons/linkedin-logo.svg")
				li
					a(href="https://github.com/AlexeyPogorelov")
						img(src="img/icons/github-logo.svg")
				li
					a(href="http://codepen.io/AlexeyPogorelov/")
						img(src="img/icons/codepen-logo.svg")

		//- script(src='js/main.js')

